
h1 {
    font-size: 24px;
    padding-left: 3%;
    background-color: rgb(47, 180, 162);
    color: rgb(58, 54, 54);
}

.container {
    margin-top: 3%;
}

.card {
    margin-top: 5%;
    margin-bottom: 10%;
}